@font-face {
	font-family: TDASansScreen;
	font-weight: 600;
	src: url("../fonts/tdasans-screen/TDAmeritradeSansScreen-Bold_v1-12.woff2") format("woff2"),
	url("../fonts/tdasans-screen/TDAmeritradeSansScreen-Bold_v1-12.woff") format("woff");
}

@font-face {
	font-family: TDASansScreen;
	font-weight: 500;
	src: url("../fonts/tdasans-screen/TDAmeritradeSansScreen-Medium_v1-12.woff2") format("woff2"),
	url("../fonts/tdasans-screen/TDAmeritradeSansScreen-Medium_v1-12.woff") format("woff");
}

@font-face {
	font-family: TDASansScreen;
	font-weight: 400;
	src: url("../fonts/tdasans-screen/TDAmeritradeSansScreen-Regular_v1-12.woff2") format("woff2"),
	url("../fonts/tdasans-screen/TDAmeritradeSansScreen-Regular_v1-12.woff") format("woff");
}

@font-face {
	font-family: TDASansScreen;
	font-weight: 300;
	src: url("../fonts/tdasans-screen/TDAmeritradeSansScreen-Light_v1-12.woff2") format("woff2"),
	url("../fonts/tdasans-screen/TDAmeritradeSansScreen-Light_v1-12.woff") format("woff");
}

@font-face {
	font-family: TDASansDisplay;
	font-weight: 600;
	src: url("../fonts/tdasans-display/TDAmeritradeSans-Bold_v1-12.woff2") format("woff2"),
	url("../fonts/tdasans-display/TDAmeritradeSans-Bold_v1-12.woff") format("woff");
}
@font-face {
	font-family: TDASansDisplay;
	font-weight: 500;
	src: url("../fonts/tdasans-display/TDAmeritradeSans-Medium_v1-12.woff2") format("woff2"),
	url("../fonts/tdasans-display/TDAmeritradeSans-Medium_v1-12.woff") format("woff");
}
@font-face {
	font-family: TDASansDisplay;
	font-weight: 400;
	src: url("../fonts/tdasans-display/TDAmeritradeSans-Regular_v1-12.woff2") format("woff2"),
	url("../fonts/tdasans-display/TDAmeritradeSans-Regular_v1-12.woff") format("woff");
}

@font-face {
	font-family: TDASansDisplay;
	font-weight: 300;
	src: url("../fonts/tdasans-display/TDAmeritradeSans-Light_v1-12.woff2") format("woff2"),
	url("../fonts/tdasans-display/TDAmeritradeSans-Light_v1-12.woff") format("woff");
}

/* Italics*/
@font-face {
	font-family: TDASansScreen;
	font-weight: 600;
	font-style: italic;
	src: url("../fonts/tdasans-screen/TDAmeritradeSansScreen-BoldItalic_v1-01.woff2") format("woff2"),
	url("../fonts/tdasans-screen/TDAmeritradeSansScreen-BoldItalic_v1-01.woff") format("woff");
}

@font-face {
	font-family: TDASansScreen;
	font-weight: 500;
	font-style: italic;
	src: url("../fonts/tdasans-screen/TDAmeritradeSansScreen-MediumItalic_v1-01.woff2") format("woff2"),
	url("../fonts/tdasans-screen/TDAmeritradeSansScreen-MediumItalic_v1-01.woff") format("woff");
}

@font-face {
	font-family: TDASansScreen;
	font-weight: 400;
	font-style: italic;
	src: url("../fonts/tdasans-screen/TDAmeritradeSansScreen-RegularItalic_v1-01.woff2") format("woff2"),
	url("../fonts/tdasans-screen/TDAmeritradeSansScreen-RegularItalic_v1-01.woff") format("woff");
}

@font-face {
	font-family: TDASansScreen;
	font-weight: 300;
	font-style: italic;
	src: url("../fonts/tdasans-screen/TDAmeritradeSansScreen-LightItalic_v1-01.woff2") format("woff2"),
	url("/fonts/tdasans-screen/TDAmeritradeSansScreen-LightItalic_v1-01.woff") format("woff");
}

@font-face {
	font-family: TDASansDisplay;
	font-weight: 600;
	font-style: italic;
	src: url("../fonts/tdasans-display/TDAmeritradeSans-BoldItalic_v1-01.woff2") format("woff2"),
	url("../fonts/tdasans-display/TDAmeritradeSans-BoldItalic_v1-01.woff") format("woff");
}

@font-face {
	font-family: TDASansDisplay;
	font-weight: 500;
	font-style: italic;
	src: url("../fonts/tdasans-display/TDAmeritradeSans-MediumItalic_v1-01.woff2") format("woff2"),
	url("../fonts/tdasans-display/TDAmeritradeSans-MediumItalic_v1-01.woff") format("woff");
}

@font-face {
	font-family: TDASansDisplay;
	font-weight: 400;
	font-style: italic;
	src: url("../fonts/tdasans-display/TDAmeritradeSans-RegularItalic_v1-01.woff2") format("woff2"),
	url("../fonts/tdasans-display/TDAmeritradeSans-RegularItalic_v1-01.woff") format("woff");
}

@font-face {
	font-family: TDASansDisplay;
	font-weight: 300;
	font-style: italic;
	src: url("../fonts/tdasans-display/TDAmeritradeSans-LightItalic_v1-01.woff2") format("woff2"),
	url("../fonts/tdasans-display/TDAmeritradeSans-LightItalic_v1-01.woff") format("woff");
}

/* global fallback font stack */
html, body {
	font-family: TDASansDisplay, arial, helvetica, sans-serif;
}